<meta charset="utf-8">
<h2 class="page-header"><strong>Cadastro de nota</strong></h2>
<br>
<div class="row" ng-init="">
	<div class="form-group col-md-1">
		<label for="campo1">Aluno</label>
		<input type="text" class="form-control" placeholder="Nome" ng-model="aluno.nome" style="width: 100px"
			readonly>
	</div>

	<div class="form-group col-md-2">
		<label for="campo1">Matéria</label>
		<select class="form-control" ng-model="nota.idMateria" id="nota.idMateria">
			<option value="1">Física</option>
			<option value="2">Química</option>
			<option value="3">Matemática</option>
			<option value="4">Biologia</option>
			<option value="5">Português</option>
			<option value="6">Geografia</option>
			<option value="7">História</option>
		</select>
	</div>
	<div class="form-group col-md-2">
		<label for="campo1">Trimestre</label>
		<select class="form-control" ng-model="nota.trimestre"
			id="nota.trimestre">
			<option value="T1">1 Trimestre</option>
			<option value="T2">2 Trimestre</option>
			<option value="T3">3 Trimestre</option>
			<option value="T4">4 Trimestre</option>
		</select>
	</div>

	<div class="form-group col-md-1">
		<label for="campo1">Nota</label>
		<input type="number" class="form-control" placeholder="Nota" ng-model="nota.nota" min="0" max="10" required ng-change="validaNota()">
	</div>

	<form>
		<hr />
		<div id="actions" class="row" style="margin-bottom:12px">
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary" ng-click="salvarNota()"
					style="margin-left:12px">Salvar</button>
				<button type="button" class="btn btn-default" onClick="history.go(-1)">Voltar</button>
			</div>
		</div>
	</form>
</div>